[user]
	name = Tyler Steiman
	email = ma.steiman@gmail.com
[core]
	editor = nano
  excludesfile = "~/.gitignore"
[alias]
  co = checkout
  st = status
  br = branch
  ft = fetch
  ps = push
  ct = commit
  pl = pull
  df = diff
  lg = log
