TAGS
node_modules
tags
.log/
/.config/nvim/plugin/
/.config/lvim/plugin/
/.config/emacs*/auto-save-list/
/.config/emacs*/elpa/
/.config/emacs*/projectile-bookmarks.eld
/.config/emacs*/transient/
/.config/emacs*/eshell/
/.config/emacs*/url/
/.config/emacs*/recentf
/.config/emacs*/tramp
/.config/emacs*/custom.el
/.config/emacs*/.cache/
/.config/emacs*/games/
/.config/emacs*/init-tangle.el
/.config/emacs*/.lsp-session-v1
/.config/emacs*/lsp-cache/
/.config/emacs*/init-tangle.elc
/.config/emacs*/.dap-breakpoints
/.config/emacs*/eclipse.jdt.ls/
/.config/emacs*/workspace/
/.config/emacs*/projectile.cache
/.config/emacs*/projects
/.config/emacs*/image-dired/
/.config/emacs*/README.el
/.config/emacs*/eln-cache
/.config/emacs*/elpaca
/.config/nvim/plugin/

dump-prod.sh
/.config/emacs/*/network-security.data
/.config/emacs/*/eww-bookmarks
/.config/emacs/*/.mc-lists.el
/.config/emacs/*/bookmarks
.config/emacs/*/default/.lsp-session-v1
.config/emacs/*/default/bookmarks
.config/emacs/*/default/auto-save-list/
/.config/emacs*/doom/
/.config/emacs*/slim/eln-cache/

hardware-configuration.nix
/.config/emacs*/eshell/
/.config/emacs*/default/eln-cache/
.kak.tags.namecache
.DS_Store
lazy-lock.json

.recent-files

.gp.md

/.config/emacs-new/.extension/
/.config/emacs-new/dap-ui-repl-node-history
/.config/emacs/.extension/
/.config/emacs-new/bookmarks
/.config/emacs-new/eww-bookmarks
