TAGS
tags
/.emacs.d/auto-save-list/
/.emacs.d/elpa/
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/transient/
/.emacs.d/eshell/
/.emacs.d/url/
/.emacs.d/recentf
/.emacs.d/tramp
/.emacs.d/custom.el
/.emacs.d/.cache/
/.emacs.d/games/
/.emacs.d/init-tangle.el
/.emacs.d/.lsp-session-v1
/.emacs.d/lsp-cache/
.log/